{% extends "base.html" %}
{% load static %}
{% load type_tag %}
{% block styles %}

{% endblock %}
{% block body %}
<div class="ui grid">
    <div class="row">
        <div class="two wide column" style="margin-top:10em;">

        </div>
        <div class="eleven wide column">






                          <div class="ui card" id="drop-container" style="width:70%;height:5em;">
                              <div class="content">
                                <div class="ui grid">
                                  <div class="row" style="margin-left:5%;margin-right:5%;">
                                    <div class="sixteen wide column">
                                      <form class="ui form" method="POST">
            				<div class="fields">
            					<div class="four wide field">
            					  <p>Search</p>
            	 				</div>
            					<div class="twelve wide field">
            					  {{ form.search_text }}
            	 				</div>
            					<div class="four wide field">
            					  <input type="submit" class="ui blue button right floated" name="education_button" value="Submit"/>
            	 				</div>
            				       {% csrf_token %}
            				</div>
            			  </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>



          {% for record in attendance_records %}
          <div class="ui fluid link card" style="height:4em;">
            <div class="ui grid">
              <div class="row">
                <div class="ten wide column left floated" style="margin:1em;padding-left:2em;">
                  <p>Attendance Record: {{ record.date_created|date }}
                </div>
                <div class="four wide column right floated" style="margin-top:1em;">
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          <div class="row">
                <div class="four wide column">
                  {% if attendance_records.has_previous %}
                  <button class="ui blue circular button"><a href="?page=1">&laquo; first</a></button>
                  <button class="ui blue circular button"><a href="?page={{ page_obj.previous_page_number }}">previous</a></button>
                  {% endif %}
                </div>
                <div class="twelve wide column centered">
                  <p class="current text-center" style="margin-left:55%;">
                   Page {{ attendance_records.number }} of {{ attendance_records.paginator.num_pages }}.
                  </p>
                </div>
                <div class="four wide column" style="margin-left:35%;">
                  {% if attendance_records.has_next %}
                    <button class="ui blue circular button "><a href="?page={{ attendance_records.next_page_number }}">next</a></button>
                    <button class="ui blue circular button "><a href="?page={{ attendance_records.paginator.num_pages }}">last &raquo;</a></button>
                  {% endif %}
                </div>



          </div>
        </div>
    </div>
</div>
{% endblock %}
